@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html{
  font-size: 10px;
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans Korean';
  margin: 0;
  padding: 0;
}
.hidden{
  position:absolute;
  left:-9999em;
}
a{
  text-decoration: none;
  /*color: #fff;*/
}
ul,ol,li{
  list-style: none;

}
ul,ol,li,figure{
  margin:0;
  padding: 0;
}

.logout:hover{
  border-bottom: 2px dotted #e6ac17;
}
button{
  font-family: inherit;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*backdrop-filter:blur(50px);*/
  }
.bg-wrap {
  width: 100%;
  min-height: 100vh;
}
.wrap-1180{
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
header{
  width: 1080px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.header-wrap{
background: rgba(28, 26, 26, 0.50);
/*opacity:0.5;*/
padding: 2rem;
/*border-bottom: 3px solid #ecb40e;*/

}

.logo{
  font-size: 3.5rem;
  display: inline;
  color: #fff;

}
.log-in{
  display: flex;
  float: right;
  margin: 1rem;
}
.log-in::after{
  content: '';
  display: block;
  clear: both;
}
.log-in a{
  color:#fff;
}
input{
  width: 14rem;
  height: 2.2rem;
  border-radius: 3px;
  border-style: none;
  border: 1px solid #c1d0d1;
  padding-left: 1rem;
  position: relative;
  margin-right: 0.3rem;
  top:2px;
}


/*회원가입 폼 모달*/

.signup-box{
  background: #fff;
  color:#504d4f;
  padding: 30px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;

}
.signup-header{
  font-size: 2.5rem;
  padding-bottom: 20px;
  margin-top:0;
  border-bottom: 1px solid #64b9c8;
}
table{
  margin: 0 auto;
}
.signup-box label{
  display: block;
  font-size: 1.5rem;
  margin: 10px;
  text-align: left;
}
.signup-box input {
  text-align: left;
}

.signin-btn,.signup-btn,.search-btn,.signup_submit_btn{
  width:8rem;
  height: 2.7rem;
  border-radius: 3px;
  background: #64b9c8;
  color: #fff;
  border-style: none;
  vertical-align:middle;
  margin-right: 0.3rem;
  cursor: pointer;
}
.signup-btn{
  background: #f2a04a;
  position: relative;
  top:0.1rem;
}
.signup_submit_btn{
  margin-top: 15px;
}
.login_info{
  font-size: 1.7rem;
  color: #fff;
  font-weight: 400;
  position: relative;
  top:-0.7rem;
  /*float: right;*/
}
.slogan{
  width: 600px;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top:50%;
  left: 37%;
  transform: translateX(-50%) translateY(-50%);
  /*font-family: 'Nanum Pen Script';*/
}

/*개인책장 초기 pape*/

.bookadd-box{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-flow:column;

}
.add-msg{
  font-size: 2rem;
  text-align: center;

}
.bookadd-btn{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background: #64b9c8;
  color:#fff;
  font-size: 2.5rem;
  border-style: none;
  margin-left: 60px;
  cursor: pointer;
}

/*구글 책검색 page*/

.book-search{
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}
.search-input{
  width: 500px;
  height: 30px;
}
.search-btn{
  position: relative;
  top: -0.2rem;
  height: 33px;
}
.results{
  height: 300px;
  y-overflow: scroll;
  padding:30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/*.results figcaption{
text-align: center;
font-size: 1.5rem;
color:#8a8488;
}*/
.results img{
  margin: 10px;
  width:100px;
  height: 123.4px;
}
.picked-result{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  /*background: #dfdbdb;*/
  height: 250px;
}
.picked-result img {
  width: 100px;
  height: auto;
  margin: 8px;
}
.booksave-btn{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: #64b9c8;
  color:#fff;
  border-style: none;
  position: absolute;
  /*bottom:30px;*/
  margin-top: 10px;
  left:50%;
  transform: translateX(-50%);
  cursor: pointer;
}


/*나의 책장 리스트*/
.total-msg{
  font-size: 2rem;
}
.total-msg span{
  color: #f5225b;
  font-weight: 600;
}
.view-option{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-left: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
}
.view-option button {
  background: transparent;
  border: none;
  margin: 5px;
  cursor: pointer;
}
select{
  width: 200px;
  margin-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
}
/*select option{
  padding:5px;
}*/
.listbook-search{
  position: absolute;
  top: 0;
  right: 60px;
}
.listbook-search button{
  width: 30px;
  height: 26px;
  position: relative;
  top:3px;
  margin: -5px;
  background: #64b9c8;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.booklist-edit{
  position: absolute;
  top:110px;
  right:85px;
}
.booklist-edit button{
  width:100px;
  height: 30px;
  background: #f41046;
  color:#fff;
  border-radius: 3px;
  border-style: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.booklist-edit .plus-btn{
  background: #64b9c8;
}

.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*padding:20px;*/
}
.book-list li{
  margin: 20px 25px;
}

.book-list figure{
  text-align: center;
  border: 1px solid #eee;
  padding: 30px 50px;
  border-radius: 3px;
  height:280px;
}
.book-listfigure img{
  height: 189px;
}
.book-list figure .writer{
  font-size: 1.5rem;
  margin:3px;
  color:#84898a;

}
.book-list figure figcaption{
  font-size: 1.8rem;
  margin-top: 5px;
}
/*figure .star{
  font-size: 2rem;
  color:#f0ce1a;
  margin: 5px 0;
}*/
.rating {
		  unicode-bidi: bidi-override;
		  direction: rtl;
		  text-align: center;
		}
		.rating > span {
		  display: inline-block;
		  position: relative;
		  width: 1.1em;
      font-size: 2rem;
      color:#f0ce1a;
      margin: 5px 0;
		}
		.rating > span:hover,
		.rating > span:hover ~ span {
		  color: transparent;
		}
		.rating > span:hover:before,
		.rating > span:hover ~ span:before {
		   content: "\2605";
		   position: absolute;
		   left: 0;
		   color: #f0ce1a;
		}
.pagination{
  margin: 20px 0;
}
.wrap-1180 .view-more{
  width:285px;
  height: 50px;
  margin-left:50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  background: #64b9c8;
  border-radius: 5px;
  border-style: none;
  color:#fff;
  font-size: 1.5rem;
  cursor: pointer;

}

/*footer*/

footer{
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  background: #0c0001;
}
footer p{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color:#eee;
  margin: 0 auto;
}
