<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>책 추가 - SOOBOOK</title>

</head>
<body>
  <div class="bg-wrap">
  <div class="header-wrap">
  <header>
  <h1 class="logo"><a href="index.html">SOOBOOK</a></h1>
  <div class="log-in">
  <!-- <h2 class="hidden">로그인</h2>
  <form action="#" >
    <label for="id" class="hidden">아이디</label><input type="e-mail" id="id" placeholder="이메일 아이디">
    <label for="password" class="hidden">패스워드</label><input type="password" id="password" placeholder="비밀번호">
    <button type="submit" class="signin-btn">로그인</button>
  </form>
  <button type="button" class="signup-btn">회원가입</button> -->
  <p class="login_info">독서의 계절님 &nbsp| &nbsp <a class="logout" href="index.html">로그아웃</a></p>
  </div>
  </header>
  </div>
<div class="wrap-1280">
<div class="book-search">
  <input class="search-input" type="text" placeholder="책이름, 저자, 출판사 를 입력해주세요">
  <button class="search-btn" type="button">책 검색</button>
</div>
<div class="results" ondrop="drop(this, event);" ondragenter="return false;" ondragover="return false;">

</div>
<div class="picked-result" ondrop="drop(this, event);" ondragenter="return false;" ondragover="return false;">

</div>
<button type="submit" class="booksave-btn">저장</button>
</div>
  <footer>
    <p class="copyright">@copyright soobook 2017</p>
  </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <script>
  //구글 API 활용한 책검색 구현
    function bookSearch(){
      var search = document.querySelector('.search-input').value;
      var results= document.querySelector('.results');
      document.querySelector('.results').innerHTML = "";
      console.log('search');
      //버튼 이벤트
      var btn = document.querySelector('.search-btn');
      btn.addEventListener('click',bookSearch,false);

      //ajax통해 구글 book open api 불러옴
      $.ajax({
        url:"https://www.googleapis.com/books/v1/volumes?q=" + search,
        dataType: "json",
        success: function(data){
          for(var i=0; i< data.items.length; i++){
            // results.innerHTML += "<h2>" + data.items[i].volumeInfo.title +"</h2>"
            results.innerHTML += "<img src=" + data.items[i].volumeInfo.imageLinks.thumbnail + " id= "+ data.items[i].id + " width=\"100px\" height=\"123.4px\" draggable=\"true\" ondragstart=\"drag(this, event)\">"
          }
        },
        type: 'GET'
      });
      }


      //로컬 스토리지 - 모르겠다;;
      var storage = window.localStorage;
      var JSON = window.JSON;

      // var book_data = [
      //   {
      //     "cover" : "커버파일입니다.",
      //     "music" : "음악파일입니다."
      //   },
      //   {
      //     "cover1" : "커버1파일입니다.",
      //     "music1" : "음악1파일입니다."
      //   },
      // ];

      if(!storage.getItem('book_list')){
        storage.setItem('book_list',JSON.stringify(data));
      }
      console.log('after:', storage.getItem('book_list'));



  //키보드 액션 - 엔터키 지원
  function keyboardAction(evt){
  evt = evt || window.event; // IE 6,7,8 고려 코드
  if(evt.keyCode == 13 || evt.keyCode ==3 ){
    bookSearch();
  }
}
document.onkeypress = keyboardAction;


//드래그앤 드롭
function drag(target, book) {		//드래그 시작시 호출 할 함수
  book.dataTransfer.setData('Text', target.id);
}

function drop(target, book) {		//드롭시 호출 할 함수
  var id = book.dataTransfer.getData('Text');
  target.appendChild(document.getElementById(id));
  // book.preventDefault();
  console.log('이동된 책 아이디:',id);
  return target.id;
}





  </script>
</body>
</html>
