<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>책 추가 - SOOBOOK</title>

</head>
<body>
  <div class="bg-wrap">
  <div class="header-wrap">
  <header>
  <h1 class="logo"><a href="index.html"><img src="../asset/logo2.png" alt="soobook logo" width="200px"></a></h1>
  <div class="log-in">

  <p class="login_info">독서의 계절님 &nbsp| &nbsp <a class="logout" href="index.html">로그아웃</a></p>
  </div>
  </header>
  </div>
<div class="wrap-1180">
<div class="book-search">
  <input class="search-input" type="text" placeholder="책이름, 저자, 출판사 를 입력해주세요">
  <button class="search-btn" type="button">책 검색</button>
</div>
<div class="results" ondrop="drop(this, event);" ondragenter="return false;" ondragover="return false;">

</div>
<div class="picked-result" ondrop="drop(this, event);" ondragenter="return false;" ondragover="return false;">

</div>
<a href="mybook_list.html"><button type="submit" class="booksave-btn">저장</button></a>
</div>
</div>
  <footer>
    <p class="copyright">@copyright soobook 2017</p>
  </footer>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="../js/book_search.js"></script>

</body>
</html>
