<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOOBOOK _ 수북</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/bulma.css">
  <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css"> -->

</head>
<body>
  <div class="bg-wrap">
    <video src="../asset/book.mp4" loop autoplay></video>
  <div class="header-wrap">
    <header>
  <h1 class="logo"><a href="index.html">
    <img src="../asset/logo2.png" alt="soobook logo" width="200px"></a></h1>
  <div class="log-in">
  <h2 class="hidden">로그인</h2>
  <form method="GET" >
    <label for="id" class="hidden">아이디</label>
    <input type="email" id="id" placeholder="이메일 아이디">
    <label for="password" class="hidden">패스워드</label>
    <input type="password" id="password" placeholder="비밀번호">
    <button type="submit" class="signin-btn" onclick="login()"><a href="book-search.html">로그인</a></button>
    <!-- <button type="submit" class="signin-btn" onclick="login()">로그인</button> -->

  </form>

  <!-- 회원가입 모달 추가 -->
  <div id="app">
  <button @click="showModal=true" type="button" class="signup-btn">회원가입</button>
    <app-modal v-if="showModal" @close="showModal = false"></app-modal>
  </div>

  </div>
  </header>
  </div>

  <p class="slogan">그 풍경에는 냄새가 있고, 소리가 있고, 감촉이 있다.<br>
    그곳에는 특별한 빛이 있고 특별한 바람이 분다. 무언가를 말하는 누군가의 목소리가
    귓가에 남아있다. 그 때의 떨리던 마음이 기억난다. <br>그것이 단순한 사진과 다른 점이다.
    그곳에만 존재했던 그 풍경은 지금도 내 안에 입체적으로 남아있고, 앞으로도 꽤 선명하게
    남아 있을 것이다.<br><br>
    무라카미 하루키 [ 라오스에 대체 뭐가 있는데요? ]
   </p>
</div>

  <footer>
    <p class="copyright">@copyright soobook 2017</p>
  </footer>



<script src="https://unpkg.com/vue"></script>
<script src="../js/vue_component.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="../js/signup.js"></script>




</body>
</html>
