<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOOBOOK _ 나의 책장</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script>



</script>

</head>
<body>
  <div class="bg-wrap">
  <div class="header-wrap">
  <header>
  <h1 class="logo"><a href="index.html"><img src="../asset/logo2.png" alt="soobook logo" width="200px"></a></h1>
  <div class="log-in">
  <p class="login_info">독서의 계절님 &nbsp| &nbsp <a class="logout" href="index.html">로그아웃</a></p>
  </div>
  </header>
  </div>
  <div class="wrap-1180">
  <div class="listbook-search">
    <label><input type="text" placeholder="책장 내 검색"><button type="button"><i class="fa fa-search" aria-hidden="true"></i></button></label>
  </div>
  <!-- 옵션박스 -->
  <p class="total-msg">독서의 계절 님은 현재 <span>103권</span>의 책을 나의 책장에 등록하셨어요! </p>
  <div class="view-option">
  <select name="#" id="#">
  <option value="최신순 보기">최신순 보기</option>
  <option value="별점 보기">별점 보기</option>
</select>
<!-- 뷰모드 아이콘 -->
  <button type="button" class="view-btn"><i class="fa fa-th fa-2x" aria-hidden="true" ></i></button>
  <button type="button" class="view-btn"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i></button>
  </div>
<!-- 북 추가/편집   -->
<div class="booklist-edit">
<button class="edit-btn" type="button">편집</button>
<a href="book-search.html"><button class="plus-btn" type="button">+ 책추가</button></a>
</div>
<!-- 북리스트 시작 -->
<div id="app">
  <ul class="book-list">
    <li v-for="book in books" @click="selectedBook(book)">
    <!-- <li v-for="book in books" @click="showModal=true"> -->
      <figure >
      <img
          :src="book.src"
          :alt="book.title"
          :title="book.title">
      <figcaption>{{book.title}}</figcaption>
      <p class="writer">{{book.author}}</p>
      <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
      </figure>
    </li>
  </ul>

<div class="selected_area">
<bookdetail-modal v-if="showModal" @close="showModal = false">

  <div class="book-info">
    <div>
  <img :src="selected_book.src" :alt="selected_book.title">
  </div>
  <div class="info-text">
  <h3>{{selected_book.title}}</h3>
  <p>저자 : {{selected_book.author}}</p>
  <div class="rating">
  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
</div>
  </div>
  <div class="review">
    <form action="#">
    <input
    v-model="newReviewTitle"
    type="text"
    placeholder="리뷰 제목을 써주세요">
    <textarea
    name="name"
    rows="10"
    cols="65"
    placeholder="책을 읽고 느낀 리뷰를 자유롭게 써주세요"
    v-model="newReviewContent"
    ></textarea>
    <button type="button" @click="addnewReview">리뷰 저장</button>
    </form>
</div>
  <div class="book-phrase">
    <input
          v-model="newBookText"
          @keyup.enter = "addNewText"
          type="text"
          placeholder="기억에 남는 책속 글귀를 입력해주세요.">
    <button type="button" @click="addNewText">입력</button>
    </div>
    <ul class="phrase-area">
      <book-text
       v-for=" text in selected_book.bookTexts"
      :key= "text"
      :text= "text"
      @remove= "selected_book.bookTexts.splice(index,1)"
      ></book-text>
    </ul>
</bookdetail-modal>
</div>
  </div>


<!-- 페이지네이션 -->
  <nav class="pagination is-centered is-medium">

    <ul class="pagination-list">
      <li>
        <a class="pagination-link">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link">45</a>
      </li>
      <li>
        <a class="pagination-link is-current">46</a>
      </li>
      <li>
        <a class="pagination-link">47</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link">86</a>
      </li>
    </ul>

  </nav>
<button class="view-more" type="button">페이지 더보기</button>

  </div>

</div>

<!-- 푸터 -->
<footer>
  <p class="copyright">@copyright soobook 2017</p>
</footer>

<script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
<script src="../js/vue-bookdetail.js"></script>

</body>
</html>
